<a href="https://colab.research.google.com/github/ravi-prakash1907/The-Spark-Foundation-Tasks/blob/main/Task1/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 1**

## Libraries

In [1]:
from urllib.request import urlopen
import csv, re
import pandas as pd

## Loading the DataSet

In [2]:
def downloadCSV(urlLoc, saveAs):
  # loading bytestring
  try:
    with urlopen(urlLoc) as rsp:
      gotRaw = rsp.read()
    
    # saving as csv
    data = gotRaw.decode('utf-8').split('\r\n')
    
    with open(saveAs, "w") as datafile:
      writer = csv.writer(datafile, delimiter = ',')
      for line in data:        
        writer.writerow(re.split(',',line))
  except:
    print("Can not open the URL!!")

In [3]:
## file locations
dataURL = 'https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv'
localDataLoc = 'Dataset/data.csv'

## loading data
try:
  data = pd.read_csv(localDataLoc, header = 0)
  print("File was there!!")
except:
  downloadCSV(dataURL, localDataLoc)
  data = pd.read_csv(localDataLoc, header = 0)
  print("File was downloaded!!")

File was downloaded!!

## Exploratory Data Analysis

In [4]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [6]:
data.shape

(25, 2)

In [7]:
data.describe

<bound method NDFrame.describe of     Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86>

## Building the ML Model

## Prediction